<a href="https://colab.research.google.com/github/Cenation2812/Python-projects/blob/main/doubt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# doubt session 1

In [2]:
n = int(input("Enter the range:"))

Enter the range:20

In [3]:
for i in range(n):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
mydit = {}

In [5]:
# The user will provide the name of the person whose contact book he/she wants to view

In [10]:
name = input("Enter the name:")
age = int(input("Enter the age:"))
number1 = input("Enter number1:")
number2 = input("Enter number2:")
email = input("Enter the email id:")

contactBook = {}

mydit = {"name":name,"age":age,"number1":number1,"number2":number2,"email":email}

Enter the name:Krishna
Enter the age:30
Enter number1:989232983
Enter number2:9283928293
Enter the email id:Krishna@yahoo.com

In [11]:
mydit

{'age': 30,
 'email': 'Krishna@yahoo.com',
 'name': 'Krishna',
 'number1': '989232983',
 'number2': '9283928293'}

In [14]:
contactBook[name] = mydit

In [15]:
contactBook

{'Krishna': {'age': 30,
  'email': 'Krishna@yahoo.com',
  'name': 'Krishna',
  'number1': '989232983',
  'number2': '9283928293'},
 'Krishna@yahoo.com': {'age': 30,
  'email': 'Krishna@yahoo.com',
  'name': 'Krishna',
  'number1': '989232983',
  'number2': '9283928293'}}