<a href="https://colab.research.google.com/github/Cenation2812/Python-projects/blob/main/doubt_solving_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# doubt session 1

In [ ]:
n = int(input("Enter the range:"))

Enter the range:20

In [ ]:
#decerementing using for loop
for i in range(20,0,-2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [ ]:
mydit = {}

In [ ]:
#Basic idea for contact book
# The user will provide the name of the person whose contact book he/she wants to view

In [ ]:
name = input("Enter the name:")
age = int(input("Enter the age:"))
number1 = input("Enter number1:")
number2 = input("Enter number2:")
email = input("Enter the email id:")

contactBook = {}

mydit = {"name":name,"age":age,"number1":number1,"number2":number2,"email":email}

Enter the name:Krishna
Enter the age:30
Enter number1:989232983
Enter number2:9283928293
Enter the email id:Krishna@yahoo.com

In [ ]:
mydit

{'age': 30,
 'email': 'Krishna@yahoo.com',
 'name': 'Krishna',
 'number1': '989232983',
 'number2': '9283928293'}

In [ ]:
contactBook[name] = mydit

In [ ]:
contactBook

{'Krishna': {'age': 30,
  'email': 'Krishna@yahoo.com',
  'name': 'Krishna',
  'number1': '989232983',
  'number2': '9283928293'},
 'Krishna@yahoo.com': {'age': 30,
  'email': 'Krishna@yahoo.com',
  'name': 'Krishna',
  'number1': '989232983',
  'number2': '9283928293'}}

In [ ]:
import random

In [ ]:
lst = ["Moghana","Jesse","Shruti","Harini","Pravin"]

winner = random.randint(0,4)

In [ ]:
print(winner)

2

In [ ]:
i = 10

while i>=0:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
lst = ["Nirmalya","Ganesha","Shourjadeep","Rajesh","Ganesha"]

In [ ]:
print(lst)

['Nirmalya', 'Ganesha', 'Shourjadeep', 'Rajesh', 'Ganesha']

In [ ]:
s = set(lst)

In [ ]:
s

{'Ganesha', 'Nirmalya', 'Rajesh', 'Shourjadeep'}

In [ ]:
st = {"1","2","3","4","5","1","3","2","5"}

In [ ]:
print(st)

{'5', '1', '4', '3', '2'}

In [ ]:
# prime number
# the number which is divisible by 1 and itself is called a prime number.

In [ ]:
count = 0
number = int(input("Enter the number:"))

for i in range(1,number+1):
  if number%i == 0:
    count=count + 1

if count == 2:
  print(number," is a prime number")
else:
  print(number," is not a prime number")

Enter the number:10
10  is not a prime number

In [ ]:
# even-odd program
# the user will enter the number...and you have to check whether the entered number is a
#even number or an odd number

In [ ]:
#lst = []
tup = ("1","2","3","4")

In [ ]:
st = (("1","2","3","3","4"))

In [ ]:
type(st)

tuple

Link for Hackerearth

https://www.hackerearth.com/practice/basic-programming/input-output/basics-of-input-output/practice-problems/1/

In [ ]:
n1 = int(input("Enter number1:"))
n2 = int(input("Enter number2:"))

try:
  div = n1/n2
except:
  print("There is an error")

print("Hello")

Enter number1:12
Enter number2:2
Hello

In [ ]:
print(div)

6.0

In [ ]:
count = 0
num = int(input("Enter a number:"))
for i in range(1,num + 1):
  if num % i == 0:
    count = count+1
    #print(num,"is not a prime number")

if count == 2:
  print("it is a prime number")
else:
  print("It is not a prime number")

Enter a number:1
It is not a prime number

In [ ]:
# prime number - A number which is divided by 1 and itself.